body {
    width: 100%;
}

header {
    background-color: #14213D;
    color: #ffffff;
    display: flex;
    padding: 5%;
    width: 100%;
    position: relative; /* Agregamos posición relativa al encabezado */
    z-index: 1; /* Ajusta el z-index según tus necesidades */
}

#titulo {
    padding-left: 5%;
    width: 85%;
}

#opciones {
    background-color: #14213D;
    color: #ffffff;
    width: 20%;
    padding: 2%;
    position: absolute;
    left: 80%;
    display: none;
    padding-bottom: 2%;
    z-index: 2; /* Ajusta el z-index para que esté por encima del video */
}
#opciones>a{
    margin-top: 10%; 
    display: block;
    width: 100%;
}
.icono{
    width: 50px;
}
.portada{
    width: 70vw;
    height: 70vw;
    border-radius: 50%;
    margin-left: 10vw;
}
#video{
    width: 100%;
    z-index: 0; 
}
article{
    padding: 5%;
    margin-bottom: 3%;
    width: 100%;
}
article>h2{
 color: #FCA311;
 text-align: center;
}
article>p{
    text-align: justify;
}
h2{
    color: #FCA311;
    text-align: center;
}
#contenido{
    margin:5%;
    width: 90%;
}
main{
    padding-bottom: 5%;
}
footer{
    background-color: #14213D;
    color: #ffffff;
    padding: 3%;
    width: 100%;
    text-align: center;
}
#map {
    height: 400px;
    z-index: 0; /* Ajusta el z-index según tus necesidades */
}
#imagen{
    width: 100px;
}